<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Signup</title>
    
</head>

<body>
    <div class="top">

    </div>
    <div class="navigation">
        <img src="../image/clg.jpg" alt="clg logo" style="width:10%;">
      <span ><div class="centered"><h1>Employee Mangaement System</h1></div></span>

    </div>
</span>
    
   <span>
   <div class="top">
    <p>
        <button class="button" ><a style="text-decoration:none" href="/">Home</a></button>
    </p>
    <p>
        <button class="button"  data-modal="modalOne">Sign In</button>
    </p>
    <p>
        <button class="button" data-modal="modalThree">Login</button>
    </p>
    <p>
        <button class="button" data-modal="modalTwo">Send a Compliant Form</button>
    </p>
    <p>
        <button class="button" data-modal="modalFour">Admin Signup</button>
    </p>
    <p>
        <button class="button" data-modal="modalFive">Admin Login</button>
    </p>
    <p>
        <button class="button" ><a style="text-decoration:none" href="/mycomplaint">Complaints</a></button>
    </p>
   </div>
  
</div></span>
   <div  class="centerd"><h1>Electrical & Instrumenation Department</h1></div>
   <marquee behavior="alternative" direction="" scrollamount="8">
  
   <div class="marquee">
    <!-- <ul class="main_content"> -->
  <div class="item">  <img class="im" src="../image/ECE-Department11.jpg" alt="clg logo" width="100%"></div>
  <div class="item">  <img  src="../image/Faculty and Staff 2022.jpg" alt="clg logo" width="100%"  ></div>
  <div class="item"> <img  src="../image/Faculty Staff and Passout Students 2022(1).jpg" alt="clg logo" width="100%"  ></div>
  <div class="item"> <img  src="../image/MOU with PGIMER.jpg" alt="clg logo" width="100%" ></div>
</ul> 
   </div></marquee>


   <div>
    <marquee behavior="alternative" direction="" scrollamount="8">
        <div class="test">

            <img src="./image/little-girl-smiling-waving-hand-little-girl-portrait-circular-shape_254685-1083.jpg"
                alt="image" height="100" width="100">
            <p> Rupal Sharma</p><br>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span><br><br>
            <p class="content">
                I am using employee manager since 2019 my experience <br>is very good.
                I want to say thanku<br> to this website.
                It is really helpful for me

            </p>

        </div>
        <div class="test">
            <img src="./image/pngtree-business-male-icon-vector-png-image_4187852.jpg" alt="person" height="100"
                width="100">
            <p> Ayush Verma</p><br>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span><br><br>
            <p class="content">
                This is the best website i have ever know. it's helps<br> me and my team alot in management
                that's why <br>i am giving five star Thank you!

            </p>


        </div>
        <div class="test">
            <img src="./image/127-1275400_paul-circle-testimonial-male-face-icon-png-transparent.png" alt="person"
                height="100" width="100">
            <p> Kartik Ashthana</p><br>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star "></span><br><br>
            <p class="content">
                My experience is not that much good i faced some <br>difficulties I hope the the developers <br>will
                fix this i am giving 3 stars

            </p>


        </div>

        <div class="test">
            <img src="./image/download.png" alt="person" height="100" width="100">
            <p> Rupesh Yadav</p><br>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span><br><br>
            <p class="content">
                Thanku employee Management for excellent experience<br> currently i am using this and trust me <br>this
                is awesome

            </p>


        </div>

       
    </marquee>


   
    <div id="modalOne" class="modal">
        <div class="modal-content">
            <div class="contact-form">
                <a class="close">&times;</a>
                <form action="/register" method="POST" enctype="multipart/form-data">
                    <h2>Sign In</h2>
                    <div>
                        <input type="text" id="name" placeholder="Name" name="ename" required><br><br>
                        <input type="file" id="image" name="image" required><br><br>
                        <input type="email" id="name" placeholder="xyz@gmail.com" name="username" required><br><br>
                        <input type="text" id="cede" name="designation" placeholder="Designation" required><br><br>
                      
                        <input type="password"  placeholder="Password" name="password" ><br><br>
                        <textarea id="cede" name="about" placeholder="About" ></textarea><br><br>
                    </div>
                    <button type="submit" href="/">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div id="modalThree" class="modal">
    <div class="modal-content">
        <div class="contact-form">
            <a class="close">&times;</a>
            <form action="/login" method="POST">
                <h2>Login</h2>
                <div>
                    <input type="email id="name" placeholder="xyz@gmail.com" name="username" required><br><br>
                    <input type="password" placeholder="Password" name="password" ><br><br>
                </div>
                <button type="submit" href="/login">Submit</button>
            </form>
        </div>
    </div>
</div>


    <div id="modalTwo" class="modal">
        <div class="modal-content">
            <div class="contact-form">
                <span class="close">&times;</span>
                <form action="/add" method="POST" enctype="multipart/form-data">
                    <h2>Compliant</h2>
                    <div>
                        <input type="text" id="name" placeholder="Name" name="username" required><br><br>
                        <input type="text" id="cede" name="department" placeholder="Department" required><br><br>
                        <input type="date" id="jdate" name="joindate" required><br><br>
                    </div>
                    <span name="complain">Message</span>
                    <div>
                        <textarea  name="complain" rows="4"></textarea>
                    </div>
                    <button type="submit" href="/">Submit</button>
                </form>

            </div>
        </div>
    </div>
    <div id="modalFour" class="modal">
        <div class="modal-content">
            <div class="contact-form">
                <a class="close">&times;</a>
                <form action="/aregister" method="POST" enctype="multipart/form-data">
                    <h2>Sign In</h2>
                    <div>
                        <input type="text" id="name" placeholder="Name" name="ename" required><br><br>
                        <input type="email" id="name" placeholder="xyz@gmail.com" name="username" required><br><br>
                        <input type="text" id="cede" name="designation" placeholder="Designation" required><br><br>
                       <input type="password"  placeholder="Password" name="password" ><br><br>
                    </div>
                    <button type="submit" href="/">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div id="modalFive" class="modal">
        <div class="modal-content">
            <div class="contact-form">
                <a class="close">&times;</a>
                <form action="/alogin" method="POST">
                    <h2>Login</h2>
                    <div>
                        <input type="email id="name" placeholder="xyz@gmail.com" name="username" required><br><br>
                        <input type="password" name="password" ><br><br>
                    </div>
                    <button type="submit" href="/login">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        let modalBtns = [...document.querySelectorAll(".button")];
        modalBtns.forEach(function (btn) {
            btn.onclick = function () {
                let modal = btn.getAttribute("data-modal");
                document.getElementById(modal).style.display = "block";
            };
        });
        let closeBtns = [...document.querySelectorAll(".close")];
        closeBtns.forEach(function (btn) {
            btn.onclick = function () {
                let modal = btn.closest(".modal");
                modal.style.display = "none";
            };
        });
        window.onclick = function (event) {
            if (event.target.className === "modal") {
                event.target.style.display = "none";
            }
        };
    </script>
</body>

</html>